---
export const prerender = false;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Efiteca</title>
    <meta http-equiv="refresh" content="0;url=/es/" />
  </head>
  <body>
    <p>Redirecting to the preferred locale...</p>
  </body>
</html>
